/* Центрирование страницы и фоновый цвет */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Контейнер для формы авторизации */
.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Заголовок */
.auth-container h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

/* Кнопка для регистрации */
.auth-container .button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5fbae9;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container .button:hover {
    background-color: #3c9dc9;
}

/* Стили формы входа */
form {
    margin-top: 10px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #666;
    text-align: left;
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

form input[type="text"]:focus, form input[type="password"]:focus {
    border-color: #5fbae9;
    outline: none;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5fbae9;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3c9dc9;
}

.register-btn {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
    background-color: #5fbae9;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn a {
    color: #fff;
    text-decoration: none;
}